{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <!-- <h1>HEY THERE</h1>
    <img src="{% static 'images/Screenshot 2026-02-13 205241.png'%}" alt=""> -->

    <!-- navbar -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">PORTFOLIO</h2>
        </div>
        <div class="right-nav">
            <li><a href="#home" class="t-white-roboto">HOME<i class="fa-solid fa-house"></i></a></li>
            <li><a href="#about" class="t-white-roboto">ABOUT<i class="fa-solid fa-user"></i></a></li>
            <li><a href="#skills" class="t-white-roboto">SKILLS<i class="fa-solid fa-code"></i></a></li>
            <li><a href="#projects" class="t-white-roboto">PROJECTS<i class="fa-solid fa-project-diagrams"></i></a></li>
            <li><a href="#contact" class="t-white-roboto">CONTACT<i class="fa-solid fa-envelope"></i></a></li>
        </div>
    </nav>
    <!-- home section -->
    <section id="home" class="flex s-around">
        <div class="left-home flex items-center">
            <!-- <h1>HEY THERE</h1>
            <img src="{% static 'images/Screenshot 2026-02-13 205241.png'%}" alt=""> -->
            <div class="home-content">
                <h6 class="dhichkiyaaooo">Hi , i'm</h6>
                <h1 class="t-white">Ankush Singh</h1>
                <h4 class="dhichkiyaaooo">ML ENGINEER</h4>
            </div>
        </div>
        <!-- <a href=""></a> -->
        <a class="btn live dhichkiyaaooo" id="Hire-me" href=""
        target="_blank">Let's Connect</a>

        <div class="right-home flex items-center">
            <div class="circle flex s-centre items-center" id="maininage">
                <img src="{% static 'images/Screenshot 2026-02-13 205241.png'%}" alt="picture">
            </div>
        </div>
    </section>
    
    <!-- about section -->
    <section id="about">
        <h1 class="t centre my-2 t-white f-2">About <Menu></Menu></h1>
        <div class="about-container flex s-around">
            <div class="about-left flex s-centre items-centre">
                <img src="{%static 'images/Screenshot 2026-02-13 215504.png'%}" alt="cat imagge">
            </div>
        </div>
        <div class="about-right flex">
            <div class="about-content">
                <h1 class="t-white m-b-1 poppins">Ankush singh</h1>
                <p class="poppins">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.</p>
                <a href="btn" id="Hire-me" href="">Hire me</a>
            </div>
        </div>
    </section>
    
    <!-- skills section -->
    <section id="skills">
        <h1 class="t centre my-2 t-white f-2">Skills <Menu></Menu></h1>
        <div class="service-container flex s-around h-50">
            <div class="skill-left flex s-centre items-center">
                <img src="{%static 'images/ChatGPT Image Feb 13, 2026, 10_09_14 PM.png'%}" alt="skill image">
            </div>
            <div class="skills-right flex items-centre">
                <div class="skills-container">
                    <div class="Core Python p-relative"><span class="bar-container left t-white">Core Python</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                    <div class="Deep learning p-relative"><span class="bar-container left t-white">Deep Learning</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                    <div class="Tensorflow p-relative"><span class="bar-container left t-white">Tensorflow</span>
                    <span class="bar-content right-skills t-white">85%</span></div>
                    <div class="NLP p-relative"><span class="bar-container left t-white">NLP</span>
                    <span class="bar-content right-skills t-white">95%</span></div>
                    <div class="MLOPS p-relative"><span class="bar-container left t-white">MLOPS</span>
                    <span class="bar-content right-skills t-white">85%</span></div>
                    <div class="Computer Vision p-relative"><span class="bar-container left t-white">Computer Vision</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                    <div class="Agentic AI with RAGS p-relative"><span class="bar-container left t-white">Agentic AI with RAGS</span>
                    <span class="bar-content right-skills t-white">85%</span></div>
                    <div class="Django p-relative"><span class="bar-container left t-white">Django</span>
                    <span class="bar-content right-skills t-white">80%</span></div>
                    <div class="Git p-relative"><span class="bar-container left t-white">Git</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                    <div class="Docker p-relative"><span class="bar-container left t-white">Docker</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                    <div class="SQL p-relative"><span class="bar-container left t-white">SQL</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                    <div class="Git p-relative"><span class="bar-container left t-white">Git</span>
                    <span class="bar-content right-skills t-white">90%</span></div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- project section -->
    <section id="Project">
        <h1 class="t-centre my-2 t-white f-2">Projects</h1>
        <div class="project-container flex s-around">
            <div class="project-left flex s-centre items-center">
                <h1 class="t-white poppins">SalesVortex-Predicting-The-Future-Of-FMCG-chaos</h1>
                <p class="t-white poppins">SalesVortex is a comprehensive sales forecasting platform designed to predict future sales of Fast-Moving Consumer Goods (FMCG) products using advanced machine learning techniques. The project addresses the inherent volatility and complexity of the FMCG market by integrating multiple data sources and employing sophisticated time-series analysis models.</p>
                <div class="button flex s-around">
                    <a href="" target="_blank"
                    class="btn mx-1 m-top">Github</a>
                </div>
            </div>
            <div class="project-left flex s-centre items-center">
                <h1 class="t-white poppins">git-in-the-matrix</h1>
                <p class="t-white poppins">This project implements a binary image classifier to distinguish between "Fake" and "Real" images using a ResNet model..</p>
                <div class="button flex s-around">
                    <a href="" target="_blank"
                    class="btn mx-1 m-top">Github</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- contact me  -->

    <section id="contact" class="m-b-1">
        <h1 class="t-centre my-2 t-white f-2">Contact Me</h1>
        <div class="Contact-container flex s-around items-center">
            <div class="form" id="contactform">
                <form method="post">
                    <div class="name form-div">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter your name" required>
                    </div>
                    <div class="email form-div">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="poppins" placeholder="Enter your email" required>
                    </div>
                    <div class="phone form-div">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" class="poppins" placeholder="Enter your phone number" required>
                    </div>
                    <div class="message form-div">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="poppins" placeholder="Enter your message" required></textarea>
                    </div>
                    <button type="submit" class="btn">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- footer section -->
     <footer id="footer">
        <ul class="flex s-centre w-80 m-auto my-2 res">
            <li><a href="#home" class="poppins">Home</a></li>
            <li><a href="#about" class="poppins">About</a></li>
            <li><a href="#skills" class="poppins">Skills</a></li>
            <li><a href="#project" class="poppins">Project</a></li>
            <li><a href="#contact" class="poppins">Contact</a></li>

        </ul>
        <ul class="flex s-centre w-80 font-awesome">
            <a href="" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
            <a href="" target="_blank">
                <li><i class="fa-brands fa-linkedin"></i></li>
            </a>
            <a href="" target="_blank">
                <li><i class="fa-brands fa-instagram"></i></li>
            </a>
        </ul>
        <p class="t-centre my-2 poppins">copy; All rights reserved <span class="t-white">
            Error 404 Not Found
        </span></p>
     </footer>
</body>
</html>